.header {
  display: flex;
}

.header .main {
  flex: 1;
  margin-right: auto;
  margin: 30px;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  color: #f9faf8;
}

.header.side {
  flex-shrink: 1;
  margin: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #f9faf8;
}

.backgroundTop {
  padding-bottom: 100px;
  background-color: #1f2937;
}

.headerContent {
  display: flex;
}

.headerText {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 100px;
  font-family: "Roboto", sans-serif;
}

.headerText .bigText {
  margin-bottom: 0px;
  font-weight: 800;
  font-size: 48px;
  color: #f9faf8;
}

.headerText .smallText {
  font-size: 18px;
  color: #e5e7eb;
}

.headerImage {
  flex: 1;
  text-align: center;
}

.button {
  max-width: 100px;
  font-family: "Roboto", sans-serif;
  background-color: #3882f6;
  border: 0px;
  border-radius: 6px;
  height: 30px;
  color: #f9faf8;
  font-weight: 800;
}

.headerImage .raze {
  height: 320px;
}

.midBodyHeader {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #1f2937;
  padding: 40px;
}

.midBodyContainer {
  display: flex;
  padding-inline: 20px;
  margin-bottom: 20px;

}
.items {
  flex: 1;
  text-align: center;
}

.items .guns {
  height: 140px;
  width: auto;
  border-radius: 6px;
  
}

.items p {
  color: gray;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.quoteContainer {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.quote {
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
  font-family: "Roboto",sans-serif;
  font-size: 36px;
  margin-bottom: 0px;
}

.author {
  padding-left: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.bottomBody {
  height: 150px;

}

.box {
  display: flex;
  background-color: #3882f6;
  height: 100px;
  margin: 50px;
  border-radius: 8px;
}

.boxText {
  flex: 1;
  padding-top: 18px;
  padding-left: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #f9faf8;
}

.trackerButton {
  margin-top: 25px;
  margin-right: 50px;
  height: 50px;
  width: auto;
  background-color: #3882f6;
  color: #f9faf8;
  border-color: #f9faf8;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.footer {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
}

#copyright {
  display: flex;
}